/*flexbox properties*/
.container {
    display:flex;
    justify-content: center;
    border: 1px solid transparent;
    margin: 300px;
    background-color: white;
    border-radius: 25px;
    height: 500px;
    width: 600px;
    position: absolute;

}

.item {
    padding: 30px;
    flex: 1;
    /*flex-direction: column;*/
}

/*flex item properties*/
.img {
    flex: auto;
    object-fit: cover;
}

.large-text, .smaller-text, .newprice {
    /*font-size: 14px;*/
    font-weight: 700;
    text-align: center;

}

.large-text, .newprice {
    font-family: 'fraunces', cursive;
    font-size: 32px;

}

.smaller-text, .oldprice {
    font-family: 'Montserrat', serif;
}


.oldprice {
    text-decoration: line-through;
}

.newprice {
    color: hsl(158, 36%, 37%);
}
/*background for the area outside of the flexbox*/
.background {
    background-color: hsl(32, 37%, 92%);
   
    place-items: center;

}

.contentbox {
    display: flex;
    flex-direction: column;
}

.backimg {
    background-image: url(/images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px 0px 0px 25px;
}
.align {
    text-align: center;
    justify-content: center;
}

.button {
    font-family: 'Montserrat', serif;
    background-color: hsl(158, 36%, 37%);
    padding: 12px 50px;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    border: transparent;
}