.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

.container{
 display: flex;
 flex-direction: column;
 text-align: left;
 position: absolute;
 width: 100%;
 height: 100%;
 justify-content: center;
 align-items: center;
}

.contStyle{
  background-color: rgb(41, 38, 38);
  background: linear-gradient(rgb(85, 89, 106), rgb(37, 43, 65));
  color: white;
  border-radius: 15px;
  padding: 70px;
}

.item{
    flex: 1;
}
.star{
  
}

.button {
  border-radius: 48%;
  padding: 10px;
  background-color: rgb(89, 86, 124);
  color: azure;
  padding: 12px;
  text-align: center;
  margin: 7px;
  font-style: 8px;
  border: none;
}

.text {
  padding: 8px;
}

.bodyBackground {
  background-color: rgb(34, 34, 48);
}

.subButton {
  border-radius: 16px;
  background-color: hsl(28, 92%, 53%);
  padding-left: 26px;
  padding-right: 26px;
  border: none;
  color: hsl(0, 0%, 100%);
}

.pText {
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}