.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
  }
  
  .item {
    flex: 1;
    
  }
  
  .choices {
    flex-direction: row;
  }
  
  .largetext {
      font-size: xx-large;
  }
  
  .graybg {
      background-color: lightgray;
  }

  .image {
    size: 30vw;
  }