.container {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
  }
  
  .item {
    flex: 1;
  }
  
  .choices {
    flex-direction: row;
  }
  
  .blueline {
      border: 2px solid cornflowerblue;
      margin: 5px;
  }
  
  .yellowline {
      border: 2px solid yellow;
      margin: 5px;
  }
  
  .greenline {
      border: 2px solid green;
      margin: 5px;
  }
  
  .redline {
      border: 2px solid red;
      margin: 5px;
  }
  
  .largetext {
      font-size: xx-large;
  }
  
  .graybg {
      background-color: lightgray;
  }